body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
#landing {
    margin-top: 20%;
}
button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
#ads {
    font-size: 30px;
    color: red;
    margin-top: 20%;
}
